<script src="https://giscus.app/client.js"
        data-repo="shyim/shyim.me"
        data-repo-id="MDEwOlJlcG9zaXRvcnkxNzc0MDM4OTk="
        data-category="Q&A"
        data-category-id="DIC_kwDOCpL3-84CSZKs"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>